root=true

[*.{c,c++,cc,cp,cpp,cu,cuh,cxx,h,hh,hpp,hxx,inc,inl,ino,ipp,mpp,tpp}]
indent_style=tab
indent_size=tab
tab_width=3

[*.proto]
indent_style=tab
indent_size=tab
tab_width=4

[*.{appxmanifest,build,config,csproj,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,proj,props,resw,resx,StyleCop,targets,tasks,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]

# ReSharper properties
resharper_cpp_indent_size=3
resharper_cpp_indent_style=tab
resharper_cpp_keep_user_linebreaks=false
resharper_cpp_max_line_length=80
resharper_cpp_tab_width=3
resharper_cpp_use_indent_from_vs=false
resharper_empty_block_style=together_same_line
resharper_expression_braces=outside_and_inside
resharper_function_definition_return_type_style=on_single_line
resharper_indent_comment=false
resharper_indent_switch_labels=true
resharper_line_break_before_comma_in_member_initializer_lists=true
resharper_linkage_specification_braces=next_line
resharper_new_line_before_while=false
resharper_simple_block_style=line_break
resharper_simple_case_statement_style=on_single_line
resharper_simple_embedded_statement_style=line_break
resharper_space_before_colon_in_case=true
resharper_space_before_ptr_in_data_members=false
resharper_space_before_ref_in_data_members=false
resharper_space_before_template_params=false
resharper_space_between_method_declaration_name_and_open_parenthesis=true
resharper_toplevel_function_declaration_return_type_style=on_single_line
resharper_toplevel_function_definition_return_type_style=on_single_line
resharper_wrap_braced_init_list_style=chop_if_long
resharper_wrap_parameters_style=chop_if_long


# ReSharper inspection severities
resharper_cpp_ue4_coding_standard_naming_violation_warning_highlighting=none
